// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.styled-header {
  color: #6f0098;
  text-align: left;
}

.text-italic {
  font-style: italic;
}
